@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
    padding: 10px;
}
.container{
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;

}
.container .title{
    font-size: 25px;
    font-weight: 600px;
    position: relative;

}
.container .title::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);

}
.container form .user-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
 form .user-detail  .input-box{
    width: calc(100% / 2- 20px);

}
.user-detail .input-box input{
    height: 45px;
    width: 100%;
}